<tr>
	<th> <%= image_tag("#{match.avatar(:thumb)}",size: "50x50" ) %></th>
	<td><%= link_to(match.name, profile_user_path(match.id) ) %></td>
	<td><%= match.updated_at.strftime('%m/%d/%y') %></td>
	<td class="text-right">
		
		<a href="" data-toggle="tooltip" data-placement="top" title="Get Email"><i class="fa fa-envelope"></i></a>

		<%= link_to delete_friendship_path(friend_id: match.id), :data => {toggle: "tooltip" ,placement: "top",confirm: "are you sure" },title: "Unmatch", id: "delete_friendship",method: :delete  do %>
		<i class="fa fa-times"></i>
		<% end %>
	</td>
</tr>