<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Matches</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th></th>
				<td>User</td>
				<td>2015-05-27</td>
				<td class="text-right">
					
					<a href="" data-toggle="tooltip" data-placement="top" title="Get Email"><i class="fa fa-envelope"></i></a>
					<a href="" data-toggle="tooltip" data-placement="top" title="Unmatch"><i class="fa fa-times"></i></a>

				</td>
			</tr>
		</tbody>

	</table>

</div>

<script type="text/javascript">
	
		$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>