<div class="bg-dark"></div>

<div class="home-information">
	
	<h1 class="slogan text-capitalize">Any swipe can change your life</h1>

	<%= link_to "auth/facebook" , class:"btn btn-lg btn-facebook btn-social" do %>
		<i class="fa fa-facebook">   </i>   Sign In with Facebook

	<% end %>
	<br>
</div>

<script type="text/javascript">


$(function() {
    $('body').vegas({
    		timer:false,
    		shuffle: true,
    		preload: true,
                delay: 4000,
    transitionDuration: 2000,
              transition: 'blur2',
        slides: [
            { src: '<%= asset_path("bg2_min.jpg") %>' },
            { src: '<%= asset_path("bg_min.jpg") %>' }
        ]
    });
});
</script>