<%# add navigation links to this file %>
<ul class="nav navmenu-nav">
	<li class="active">
		<a href="">
			<i class="fa fa-users"> </i>
			Discover
		</a>
	</li>

		<li class="">
		<a href="">
			<i class="fa fa-heart"> </i>
			Matches
		</a>
	</li>

		<li class="">
		<a href="">
			<i class="fa fa-cog"> </i>
			Settings
		</a>
	</li>
</ul>