<%# navigation styled for Bootstrap 3.0 %>
<% if current_user %>

<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
	<%= render 'layouts/navigation_links' %>
</nav>
<div class="navbar navbar-default navbar-fixed-top">

	  <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
		  	<i class="fa fa-cog"></i>
		  </button>

		<div class="">

		  <%= link_to root_path, class: "navbar-brand" do %>
		<h2 class="logo">Matchr</h2>
		  <% end %>
		  	</div>


		  <button type="button" class="navbar-toggle button-nav pull-right">
		  	<%= link_to matches_user_path(current_user) do %><i class="fa fa-heart"></i><% end %>
		  </button>

	
</div>

	<% else %>


		<div class="navbar-brand">
		<h1 class="logo-outside">Matchr</h1>
	</div>

	<% end %>

